<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permisos opcionales para huella -->
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Apprata">

        <!-- Pantalla de login -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Menú principal -->
        <activity android:name=".MenuPrincipalActivity" />

        <!-- Horario Gym -->
        <activity android:name=".HorarioGymActivity" />

        <!-- Listado de usuarios -->
        <activity android:name=".ListadoUsuariosActivity" />

        <!-- Agregar / Modificar usuarios -->
        <activity android:name=".AgregarUsuarioActivity" />
        <activity android:name=".ModificarUsuarioActivity" />

        <!-- Detalle de usuario seleccionado -->
        <activity android:name=".DetalleUsuarioActivity" />

        <!-- NUEVA ACTIVITY: Historia de Desarrolladores -->
        <activity android:name=".HistoriaDesarrolladoresActivity" />

        <activity android:name=".AlimentacionActivity" />

        <activity android:name=".TiendasActivity" />

        <!-- NUEVA ACTIVITY: Tiendas -->
        <activity android:name=".TiendasActivity" />


    </application>

</manifest>
